<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Duquesne Incline</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <header>
    <img src="../static/image/banner.jpg" alt="Duquesne Incline Banner" width="500" height="380" />

    <nav>
      <a class="nav-link" href="../index.html">Home</a>
      <a class="nav-link" href="../views/history.html">History</a>
      <a class="nav-link" href="../views/visit.html">Visit</a>
      <a class="nav-link" href="../views/shop.html">Gift Shop</a>
    </nav>
  </header>

  <main>
    <section id="welcome">
      <h1>History</h1>
      <p>The Duquesne Incline is one of those which follows very closely the tracks of an early coal hoist. Old newspapers indicate the existence of such a conveyance as early as 1854. Residents apparently referred to it as "Kirk Lewis' incline" and located it on the present site of The Duquesne Incline's Upper Station. Grandview Avenue was then the High Street, and the area was just beginning to be converted from farmland to homesites. This pleasantly-situated acreage was an excellent area to absorb some of the expanding population of the city, but the problem of easy access was still to be solved. </p> 
      <p>Although plans for a freight and passenger incline are known to have existed much earlier, financial backing was exceedingly hard to find--even the modest sum of $47,000--and actual construction was delayed. Eventually, of course, difficulties were overcome and the Incline was built. It was opened to the public May 20, 1877. The Duquesne Incline was the first Pittsburgh incline designed and built by Samuel Diescher, for Kirk Bigham and Associates. Mr. Diescher, an engineer, had become the country's foremost builder of inclines. He was also to design and build most of those that followed. </p> 
      <p>At the time of its public opening, it was one of four inclined planes serving the summit of Coal Hill, which later came to be known as Mount Washington. The Duquesne Incline was operated, from 1877 until 1962 by The Duquesne Inclined Plane Company. From 1964 until the present, the Incline has been operated by the Society for the Preservation of The Duquesne Heights Incline; it has been owned by the Port Authority of Allegheny County.  The Society for the Preservation of the Duquesne Heights Incline. </p>
      <p>The Society for the Preservation of the Duquesne Heights Incline was formed in 1964 by the Duquesne Heights/Mount Washington neighborhood group that had rescued, repaired, and reopened the Incline in 1963. The purpose was to continue to restore and rehabilitate the cars, equipment, and both stations, and to establish the entire operation as a reliable commuter facility and a popular visitor attraction.  Memberships in the society are available, call for details.</p>
      <img src="../static/image/history.jpg" alt="Duquesne Incline on Wikipedia" class="wikipedia-image" />
      <a href="https://en.wikipedia.org/wiki/Duquesne_Incline" class="read-more-link" target="_blank">Read more at Wikipedia</a>
    </section>
  </main>

  <footer>
    <p>Contact us at <a href="mailto:info@duquesneincline.org">duq.incline@duquesneincline.org</a></p>
    <p>&copy; 2009. All Rights Reserved</p>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>