<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Duquesne Incline</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <header>
    <img src="../static/image/banner.jpg" alt="Duquesne Incline Banner" width="500" height="380" />
    <nav>
      <a class="nav-link" href="../index.html">Home</a>
      <a class="nav-link" href="../views/history.html">History</a>
      <a class="nav-link" href="../views/visit.html">Visit</a>
      <a class="nav-link" href="../views/shop.html">Gift Shop</a>
    </nav>
  </header>

  <main>
    <section id="welcome">
      <h1>Gift Shop</h1>
      <p>Welcomw to the gift shop page. We offer many one of a kind items that were custom made for the Incline! Below are some information about the products~</p>
    </section>

    <section id="features">
      <h2>Our Products</h2>
      <div class="contact-container small-img">
        <div class="img-link-wrapper">
          <div id="shotGlassSlideshow">
            <img class="slide active" src="../static/image/shotGlass.jpg" alt="Shot Glass 1"/>
            <img class="slide" src="../static/image/shotGlass2.jpg" alt="Shot Glass 2"/>
            <img class="slide" src="../static/image/shotGlass3.jpg" alt="Shot Glass 3"/>
          </div>
          <a class="nav-link">Many shot glasses are for sale including a slanted one. There is a variety of patterns.</a>
        </div>

        <div class="contact-container small-img">
          <div class="img-link-wrapper">
            <img src="../static/image/ornament.jpg" alt="Wooden Ornament"/>
            <a class="nav-link">This handmade Incline wooden ornament is a big seller and is only available here</a>
          </div>
          <div class="img-link-wrapper">
            <a class="nav-link">We also have one of the best selections of postcards in the city. Please contact 412-381-1665</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p>Contact us at <a href="mailto:info@duquesneincline.org">duq.incline@duquesneincline.org</a></p>
    <p>&copy; 2009. All Rights Reserved</p>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>
