<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Duquesne Incline</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <header>
    <img src="../static/image/banner.jpg" alt="Duquesne Incline Banner" width="500" height="380" />

    <nav>
      <a class="nav-link" href="../index.html">Home</a>
      <a class="nav-link" href="../views/history.html">History</a>
      <a class="nav-link" href="../views/visit.html">Visit</a>
      <a class="nav-link" href="../views/shop.html">Gift Shop</a>
    </nav>
  </header>

  <main>
    <h1>Visit Us</h1>

    <div class="info-sections">
      <div class="info-column">
        <h2>City Tours:</h2>
        <ul>
          <li>PITTSBURGH TOURS AND MORE - Pittsburgh Movie Locations, Sports, Breweries, Wineries and More. www.pghtoursandmore.net 412-323-4707</li>
          <li>MOLLY'S TOLLEYS - www.mollystrolleyspgh.com 412-281-2055</li>
          <li>RIVERS OF STEEL - www.riversofsteel.com 412-464-4020 or 412-381-8687</li>
          <li>THE PITTSBURGH TOUR COMPANY - Hop on/Hop off Double Decker tour buses from London.  www.pghtours.com 412-381-8687 </li>
        </ul>
      </div>

      <div class="info-column">
        <h2>Field Trip Program: </h2>
        <a class="nav-link">A free field trip program is available for students and youth groups of ten or more daily – except Saturdays and Sundays after 12:00 noon due to weekend crowds and limited space. The program includes:</a>
        <ul>
          <li>A teacher's lesson packet for students' specific grade level</li>
          <li>A round trip ride on the Duquesne Incline</li>
          <li>A history of inclines in Pittsburgh</li>
          <li>A discussion about Pittsburgh's industrial past</li>
          <li>A visit to the machine room to observe the original hoisting equipment in operation and learn about the engineers who built it</li>
          <li>A panoramic view of Downtown Pittsburgh and The North Shore from our observation deck 400 feet above the three rivers</li>
          <li>A brief history of the French and Indian War from which the city arose</li>
        </ul>
      </div>
    </div>
  </main>

  <footer>
    <p>Contact us at <a href="mailto:info@duquesneincline.org">duq.incline@duquesneincline.org</a></p>
    <p>&copy; 2009. All Rights Reserved</p>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>